:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

/* Style for the post comment button */
.btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.user-input-form {
  max-width: 600px;
  margin: 50px auto;  /* Center the form and add space from the top */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
